.header {
    background-color: black;
    color: cornflowerblue;
    padding: 15px;
    margin-bottom: 15px;
    display: flex;
    align-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.content {
    max-width: 960px;
    display: flex;
    margin-right: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

body {
    background-color: cornflowerblue;
}